<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>PRACTICA</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Listado de paises</h1>
        <table border="2">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Capital</th>
                    <th>Poblacion</th>
                    <th>Costas</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pais:${paises}">
                    <td th:text="${pais.nombre}"></td>
                    <td th:text="${pais.capital}"></td>
                    <td th:text="${pais.poblacion}"></td>
                    <td th:text="${pais.costas}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>